.acesibilidad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    flex-direction: column;
    left: 98%;
    height: 180px;
    gap: 8px;
    position: fixed;
    z-index: 1000;
    background-color: #00324D;
    border-radius: 10px 0px 0px 10px;
    margin-top: 15rem;
    transform: translateX(-20%);
    right: 0;

}
#toggle{
    display: none;

}

#toggle2{
    display: none;

}
#toggle3{
    display: none;

}
#toggle4{
    display: none;

}
#toggle5{
    display: none;

}
input .toggle1{
    display: none;
}

#label_toggle{
    font-size: 1.3rem;
    cursor: pointer;
    right: 30px;



}
#label_toggle2{
    font-size: 1.3rem;
    cursor: pointer;
    right: 30px;



}
#label_toggle3{
    font-size: 1.3rem;
    cursor: pointer;
    right: 30px;



}
#label_toggle4{
    font-size: 1.3rem;
    cursor: pointer;
    right: 30px;



}
#label_toggle5{
    font-size: 1.3rem;
    cursor: pointer;
    right: 30px;



}



.dark{
    background-color: #333;
    color: white;
    transition: all 1.5s ease;
}
.acesibilidad label .fa-solid{
    color: white;

}
.acesibilidad label .fa-solid:hover{
    color: #39a900;
    font-size: 2rem;
}

/* ----------------------------------------------------- */
/*Responsive accesibilidad*/
@media only screen and (max-width: 767px) {
      .acesibilidad{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        flex-direction: column;
        left: 92%;
        height: 180px;
        gap: 8px;
        position: fixed;
        z-index: 1000;
        background-color: #00324D;
        border-radius: 10px 0px 0px 10px;
        margin-top: 15rem;
        opacity: 0.7;
        transform: translateX(-20%);
        right: 0;

      }
      #toggle{
        display: none;

      }

      #toggle2{
        display: none;

      }
      #toggle3{
        display: none;

      }
      #toggle4{
        display: none;

      }
      #toggle5{
        display: none;

      }
      input .toggle1{
        display: none;
      }

      #label_toggle{
        font-size: 1.3rem;
        cursor: pointer;
        right: 30px;
      }
      #label_toggle2{
        font-size: 1.3rem;
        cursor: pointer;
        right: 30px;
      }
      #label_toggle3{
        font-size: 1.3rem;
        cursor: pointer;
        right: 30px;
      }
      #label_toggle4{
        font-size: 1.3rem;
        cursor: pointer;
        right: 30px;
      }
      #label_toggle5{
        font-size: 1.3rem;
        cursor: pointer;
        right: 30px;
      }
      .dark{
        background-color: #333;
        color: white;
        transition: all 1.5s ease;
      }
      .acesibilidad label .fa-solid{
        color: white;

      }
      .acesibilidad label .fa-solid:hover{
        color: #39a900;
        font-size: 2rem;
      }
  }
  
  /* Estilos para dispositivos de pantalla mediana (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .acesibilidad{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      flex-direction: column;
      left: 97%;
      height: 180px;
      gap: 8px;
      position: fixed;
      z-index: 1000;
      background-color: #00324D;
      border-radius: 10px 0px 0px 10px;
      margin-top: 15rem;
      opacity: 0.7;
      transform: translateX(-20%);
      right: 0;

    }
    #toggle{
      display: none;

    }

    #toggle2{
      display: none;

    }
    #toggle3{
      display: none;

    }
    #toggle4{
      display: none;

    }
    #toggle5{
      display: none;

    }
    input .toggle1{
      display: none;
    }

    #label_toggle{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    #label_toggle2{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    #label_toggle3{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    #label_toggle4{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    #label_toggle5{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    .dark{
      background-color: #333;
      color: white;
      transition: all 1.5s ease;
    }
    .acesibilidad label .fa-solid{
      color: white;

    }
    .acesibilidad label .fa-solid:hover{
      color: #39a900;
      font-size: 2rem;
    }
  }
  
  /* Estilos para dispositivos de pantalla grande (escritorios) */
  @media only screen and (min-width: 1024px) {
    .acesibilidad{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      flex-direction: column;
      left: 98%;
      height: 180px;
      gap: 8px;
      position: fixed;
      z-index: 1000;
      background-color: #00324D;
      border-radius: 10px 0px 0px 10px;
      margin-top: 17rem;
      opacity: 0.7;
      transform: translateX(-20%);
      right: 0;

    }
    #toggle{
      display: none;

    }

    #toggle2{
      display: none;

    }
    #toggle3{
      display: none;

    }
    #toggle4{
      display: none;

    }
    #toggle5{
      display: none;

    }
    input .toggle1{
      display: none;
    }

    #label_toggle{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    #label_toggle2{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    #label_toggle3{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    #label_toggle4{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    #label_toggle5{
      font-size: 1.3rem;
      cursor: pointer;
      right: 30px;
    }
    .dark{
      background-color: #333;
      color: white;
      transition: all 1.5s ease;
    }
    .acesibilidad label .fa-solid{
      color: white;

    }
    .acesibilidad label .fa-solid:hover{
      color: #39a900;
      font-size: 2rem;
    }
  }