:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans",sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.header h1{
    font-size: 25px;
    font-weight: 400;
    padding: 1.3rem;
    padding-bottom: 0;
}
.container{
    display: flex;
    justify-content: center;
}
.second-container{
    padding: 2em;
}
.login_img{
    width: 10rem;
    height: auto;
}
.main-form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.first-section, .second-section{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 20rem;
}
.login__input{
    padding: .6rem;
    width: 100%;
    border: 1px solid var(--negro);
    margin-bottom: 2rem;
    border-radius: 5px;
    cursor:text;
}
input[disabled]{
    background-color: var(--gris-oscuro);
}
.btn-cambiar{
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .8rem;
    margin-top: 1.8rem;
    border-radius: 5px;
    cursor: pointer;
    color: var(--blanco);
    background-color: var(--azul);
    width: 100%;
}
.btn-actualizar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-actu{
    padding: .8rem;
    width: 20%;
    border-radius: 7px;
    border: 1px solid var(--negro);
    background-color: var(--verde);
    color: var(--blanco);
}
input{
    margin: 18px 0px 30px 0px;
}

@media screen and (max-width: 704px ){
    .btn-actu{
        margin-top: .8rem;
        width: 10rem;
    }
    .main-form{
        gap: 0;
    }
}
@media screen and (min-width: 1024px) {
    .first-section, .second-section{
        width: 25rem;
    }
}
@media screen and (min-width: 1440px) {
    .first-section, .second-section{
        width: 30rem;
    }
}