@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*Estilos universales del documento*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Estilos predefinidos*/
:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans", sans-serif;
}

/*Estilos generales del body*/
body{
    font-family: var(--fuente-principal);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x:inherit;
}


/* ----------------------------------------------------- */

/* Slider */
.description, h1,p{
    font-size: 20px;
}


/* Panels Slider */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
 }

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

.panel .content {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    color: #FFF;
}
    
.panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
    
.panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom {
    background-color: var(--azul);
    z-index: 1;
}
    
.bottom .description {
    right: 5%;
}
    
.top {
    background-color: var(--verde);
    z-index: 2;
    width: 50vw;
}

.top .description {
    left: 5%;
}

.slider{
    display: none;
}
/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}
    
/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}
    
.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}
    
.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

.TextSli2 {
    color: var(--azul);
}
    
@media (max-width: 834px){
    .splitview{
    display: none;
    }
    .slider{
        display: block;
    }
}

/* Responsive. */
@media (max-width: 2559px){
    .description h1,p {
        font-size: 85%;
    }
    .panel img {    
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 50%;
        
        transform: translate(-50%, -50%);
    }
    .panel #foto1 {
        width: 35%;
        left: 48%;
    }
    .panel #foto2{
        width: 40%;
        left:52%;
    }
}


@media (max-width: 1440px){
    .description h1,p {
        font-size: 85%;
    }
    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 50%;
        
        transform: translate(-50%, -50%);
    }
    .panel #foto1 {
        width: 35%;
        left: 48%;
    }
    .panel #foto2{
        width: 40%;
        left:52%;
    }
}
    
@media (max-width: 1024px){
    .description h1,p {
        font-size: 75%;
    }
    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 25%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px){
    .description h1,p {
        font-size: 75%;
    }
    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 25%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 900px) {
    .description h1,p {
        font-size: 60%;
    }
    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .TextSli1 {
        margin-right: 50px;
    }
    .TextSlipar1 {
        margin-right: 50px;
    }
    .panel #foto1 {
        left: 28%;
    }
    .panel #foto2{
        left:75%;
    }
    .bottom .description {
        width: 40%;
        right: 1px;
    }
    .top .description {
        width: 40%;
        left: 20px;
    }
}
    
@media (max-width: 435px) {
    .description h1,p {
        font-size: 0.7rem;
    }
    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 25%;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    .TextSli1 {
        margin-right: 50px;
    }
    .TextSlipar1 {
        margin-right: 50px;
    }
    .panel #foto1 {
        left: 28%;
    }
    .panel #foto2{
        left:75%;
    }
    .bottom .description {
        width: 60%;
        left: 185px;
    }
    .top .description {
        width: 40%;
        left: 20px;
    }
}

@media (max-width: 320px) {
    .description h1,p {
        font-size: 35%;
    }
    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 25%;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
}

/* Contenedor principal con la seccion de informacion */
.content section{
    width: 100%;
    height: 100%;
    padding: 25px;
    gap: 20px;
    /* FLEXBOX */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    overflow-x: hidden;   
}

.content #nosotros,#Info-cditi{
    padding: 1px;
}

/*Contenedor de los titulos del section*/
.content__parrafos-titulos{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

/*Subtítulo descrptivo*/
.content__parrafos-titulos h2{
    font-size: 1rem;
}

/*Parrafo introductorio*/
.content__parrafos-titulos p{
    font-size: 0.9rem;
}

/* Contenedor de parrafos informativos en la parte sperior */
.content__parrafos-links{
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    padding: 5px;
    gap: 15px; 
    text-align: justify;
}

/*Contenedor secundario*/
.p__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid var(--azul); 
    border-radius: 12px;
    transition: .6s ease;
}

/*Hover para hacer zoom a cada contenedor*/
.p__container:hover{
    transform: scale(1.05);
}

/*Artículo que contiene la imagen de cada contenido*/
.p__container article{
    width: 100%;
}

/*Estilos para la imagen*/
.p__container article img{
    width: 90px;
    padding: 10px 0px 10px 0px;
}

/*Parrafos descriptivos dentro de cada contenedor*/
.p__container p{
    padding: 0px 25px 10px 25px;
    text-align: justify;
    font-size: 0.9rem;
}

/*Estilos de la etiqueta a*/
.p__container a{
    color: var(--verde);
}

/* -----------------------Contenido ----------------------------------- */

/* ---------------------------------Contenido de Nosotros--------------------------- */
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.section-escudo_bandera{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
}

#Info-cditi .container_info .section-1 p{
    text-align: justify;
    text-justify: inter-word;
}
    
.img_escudo{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items:  center;
}
.section-escudo_bandera div img{
        width: 10%;
        height: auto;
}
.section-logosimbolo{
        display: flex;
        flex-direction: column;
        height: auto;
}

.seccion-escudo_bandera,
.section-logosimbolo {
    border: 5px solid var(--azul);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: auto;
    margin: 5px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
        
    }
}
.section-logosimbolo img {
    max-width: 35%;
    height: auto;
}

.seccion-escudo_bandera img{
    width: 30vh;
    height: auto;
}

}

.seccion-escudo_bandera img{
    width: 50vh;
    height: auto;
}
h1{
    color:var(--verde);
}

/* ------------------------------------------------------------------------------------- */
.content-izquierda {
    padding: 5px;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;  
    border-bottom-left-radius: 10px;  
}

.izquierda{
    border-radius: 20px solid black;
    display: flex;
    margin-left: 10px;
    margin-right: 180px;
    color: var(--blanco);
    transform: translateX(95%);
    transition: transform 1s ease-out;
}

.izquierda.animada {
    transform: translateX(0);
}

.triangulo-derecha {
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Altura del triángulo */
    border-bottom: 70px solid transparent; /* Altura del triángulo */
    border-left: 100px solid var(--azul); /* Ancho del triángulo y color de fondo */
}

/* --------------------------- derecha ---------------- */
.content-derecha {
    padding: 10px;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;  
    border-bottom-right-radius: 10px;  
}

.derecha {
    display: flex;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 10px;
    color: var(--blanco);
    transform: translateX(-95%);
    transition: transform 1s ease-out;
}

.derecha.animada {
    transform: translateX(0);
}


/* @keyframes moverD{
    from{
        transform: translateX(-90%);
    }
    to{
        transform: translateX(0);
    }
    0%{
        translate: -90%;
    }
    20%{
        translate: 0;
    }
    80%{
        translate: 0;
    }
} */

.triangulo-izquierda {

    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Altura del triángulo */
    border-bottom: 70px solid transparent; /* Altura del triángulo */
    border-right: 100px solid var(--azul); /* Ancho del triángulo y color de fondo */
}

@media (max-width: 1240px){
    .triangulo-derecha,.triangulo-izquierda {
        display: none;
    }
    .izquierda{
        margin-left: 5px;
        margin-right: 80px;
    }
    .derecha{
        margin-left: 1px;
        margin-right: 10px;
    }
}

@media (min-width: 1240px){
    .izquierda{
        margin-left: 0px;
        margin-right: 0px;

    }
    .content-izquierda{
        border-top-left-radius: 10px;  
        border-bottom-left-radius: 10px;
    }

    .derecha{
        margin-left: 0px;
        margin-right: 0px;

    }
    .content-derecha{
        border-top-right-radius: 10px;  
        border-bottom-right-radius: 10px;  
    }
}
@media (max-width: 1024px){
    .izquierda{
        margin-left: 0px;
        margin-right: 0px;
    }
    .derecha{
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* --------- Contenido info CDITI ------------ */
.container_info{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    gap: 80px;
}

.container_info  h1{
    padding: 10px;
}

.container_info img{
    width: 50%;
    height: auto;
    border-radius: 20px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: mostrar;
    animation-range-start: entry cover 25%;
    animation-fill-mode: both;
}

@keyframes mostrar{
    from{
        transform: scale(60%);
    }
    to{
        transform: scale(100%);
    }
}

@media screen and (min-width:768px){
    
    .recuadros-info div:nth-last-child(-n+2) {
        grid-column: span 2; /* Cada elemento ocupa dos columnas */
        justify-self: center; /* Alinear al centro horizontal */
    }
}

@media (max-width: 950px){
    .container_info{
        flex-direction: column;
    }
    .container_info img {
        width: 80%;
    }
}

/* -------------------------------- mapa ----------------------- */

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapaSena{
    border-radius: 12px;
    margin: 20px;
    width:500px;
    height:300px;
}
.map h1 {
    text-align: center;
}

@media (max-width: 560px) {
    .mapaSena{
        width: 280px;
        height: auto;
    }
    .map h1 {
        font-size: 20px;
        padding: 20px;
    }
}

/* --------------------------------------------------- */
/* responsive general */
@media screen and (min-width: 1370px){
    /* responsive barra navegacion */
    .navbar{
        height: 55px;
    }

    .logo img{
        max-width: 11rem;
    }

    .links li {
        font-size: 18px;
    }

    .links li a{
        font-size: 18px;
    }

    /* responsive contenido */
    .content__parrafos-titulos{
        font-size: 16px;
    }

    .content__parrafos-titulos h2{
        font-size: 16px;
    }

    .content__parrafos-titulos p{
        font-size: 14px;
    }
    
    /* responsive tarjetas  */
    .content__parrafos-links{
        width: 100%;
        height: 100%;
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: 1fr;
        padding: 5px;
        gap: 15px; 
        text-align: justify;
    }

    .p__container p{
        font-size: 16px;
    }
}

@media screen and (min-width: 1615px){

    /* responsive barra navegacion */
    .navbar{
        height: 60px;
    }

    .logo img{
        max-width: 13rem;
    }

    .links li {
        font-size: 23px;
    }

    .links li a{
        font-size: 23px;
    }

    /* responsive contenido */
    .content__parrafos-titulos{
        font-size: 20px;
    }

    .content__parrafos-titulos h2{
        font-size: 19px;
    }

    .content__parrafos-titulos p{
        font-size: 16px;
    }
    
    /* responsive tarjetas  */
    .content__parrafos-links{
        width: 100%;
        height: 100%;
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-template-rows: 1fr;
        padding: 5px;
        gap: 15px; 
        text-align: justify;
    }

    .p__container p{
        font-size: 17px;
    }
}


@media screen and (min-width: 1720px){
    /* responsive barra navegacion */
    .navbar{
        height: 70px;
    }

    .logo img{
        max-width: 15rem;
    }

    .links li {
        font-size: 24px;
    }

    .links li a{
        font-size: 24px;
    }

    /* responsive contenido */
    .content__parrafos-titulos{
        font-size: 24px;
    }

    .content__parrafos-titulos h2{
        font-size: 23px;
    }

    .content__parrafos-titulos p{
        font-size: 20px;
    }
    
    /* responsive tarjetas  */
    .content__parrafos-links{
        width: 100%;
        height: 100%;
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: 1fr;
        padding: 5px;
        gap: 15px; 
        text-align: justify;
    }

    .p__container p{
        font-size: 20px;
    }
}

@media screen and (min-width: 1965px){
    /* responsive barra navegacion */
    .navbar{
        height: 90px;
    }

    .logo img{
        max-width: 17rem;
    }

    .links li {
        font-size: 28px;
    }

    .links li a{
        font-size: 28px;
    }

    /* responsive contenido */
    .content__parrafos-titulos{
        font-size: 26px;
    }

    .content__parrafos-titulos h2{
        font-size: 25px;
    }

    .content__parrafos-titulos p{
        font-size: 22px;
    }

    /* responsive tarjetas  */
    .content__parrafos-links{
        width: 100%;
        height: 100%;
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
        grid-template-rows: 1fr;
        padding: 5px;
        gap: 15px; 
        text-align: justify;
    }

    .p__container p{
        font-size: 22px;
    }

    /* responsive footer */
    .footer-menu .menu-item{
        font-size: 30px;
    }
}

@media screen and (min-width: 2116px){
    /* responsive barra navegacion */
    .navbar{
        height: 90px;
    }

    .logo img{
        max-width: 17rem;
    }

    .links li {
        font-size: 30px;
    }

    .links li a{
        font-size: 30px;
    }

    /* responsive contenido */
    .content__parrafos-titulos{
        font-size: 26px;
    }

    .content__parrafos-titulos h2{
        font-size: 25px;
    }

    .content__parrafos-titulos p{
        font-size: 24px;
    }
    
    /* responsive tarjetas  */
    .content__parrafos-links{
        width: 100%;
        height: 100%;
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-template-rows: 1fr;
        padding: 5px;
        gap: 20px; 
        text-align: justify;
    }

    .p__container p{
        font-size: 27px;
    }

    /*Se configuro el tamano de los parrafos cuando las pantallas son grandes*/
    .container_nostros p,h1{
        font-size: 30px;
        padding: 10px;
    }
    .container_info p,h1{
        font-size: 30px;
    }

    .map h1{
        font-size: 40px;
    }
    .map iframe {
        width: 1800px;
        height: 800px;
    }


    .triangulo-derecha,.triangulo-izquierda{
        display: none;
    }

    /* responsive footer */
    .footer-menu .menu-item{
        font-size: 35px;
    }
}

@media screen and (min-width: 2650px){
    /* responsive barra navegacion */

    .navbar{
        height: 100px;
    }

    .logo img{
        max-width: 18rem;
    }

    .links li {
        font-size: 35px;
    }

    .links li a{
        font-size: 35px;
    }

    /* responsive contenido */
    .content__parrafos-titulos{
        font-size: 27px;
    }

    .content__parrafos-titulos h2{
        font-size: 26px;
    }

    .content__parrafos-titulos p{
        font-size: 25px;
    }
    
    /* responsive tarjetas  */
    .content__parrafos-links{
        width: 100%;
        height: 100%;
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        grid-template-rows: 1fr;
        padding: 5px;
        gap: 20px; 
        text-align: justify;
    }

    .p__container p{
        font-size: 25px;
    }

    /* responsive footer */
    .footer-menu .menu-item{
        font-size: 35px;
    }

}

@media screen and (min-width: 2561px) {
    body {
        font-size: 10px; /* Ajusta el tamaño de la fuente para pantallas grandes */
    }
}


/* -------Slider #2 -------- */
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    padding: 0;
    display: flex;
    width: 400%;

    animation: slider 20s infinite alternate;
    animation-timing-function: linear;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider li img{
    width: 100%;
}

@keyframes slider {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left:-300%}
}



@media screen and (min-width: 1615px){

    /* responsive slider #2*/
    .slider{
        height: 300px;
    }

    .slider ul{
        height: 300px;
    }

    .slider li{
        height: 300px;
    }

    .slider li img{
        height: 300px;
    }

}


@media screen and (min-width: 1720px){
    /* responsive slider */
    .slider{
        height: 300px;
    }

    .slider ul{
        height: 300px;
    }

    .slider li{
        height: 300px;
    }

    .slider li img{
        height: 300px;
    }
}
