*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans", sans-serif;
}

body{
    font-family: var(--fuente-principal);
    font-family: 1.2rem;
}

/*titulo sennova*/
.titulo{
    font-size: 35px;
    text-align: center;
    font-family: var(--fuente-principal);
}

/*subtitulos*/
.subtitulos{
    font-size: 25px;
    font-family: var(--fuente-principal);
    text-align: left;
    margin-top: 30px;
}

/*contenido de el div tecnoparque*/
.tecnoparque{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.tecnoparque section{
    width: 100%;

}

/* listas ordenadas y desordenadas */
ol, ul{
    padding: 30px;
}

.tecnoparque p{
    text-align: justify;
    margin-top: 10px;
    font-family: var(--fuente-principal);
    line-height: 30px;
}
.tecnoparque img{
    width: 40%;
}

.logo_tecnoparque{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.foto1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 50%;
}

.foto1 img{
    box-shadow: #070001 1px 1px 15px; 
    border-radius: 10px;
    filter: brightness(90%);
}
@media (max-width: 600px){
    .foto1{
        width: 100%;
    }
}

.foto1 :hover{
    filter: brightness(100%);
}

.linea1 .logo_lineas, .linea2 .logo_lineas, .linea3 .logo_lineas, .linea4 .logo_lineas{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.linea1 img, .linea2 img, .linea3 img, .linea4 img{
    width: 20%;
}

.objetivos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px){
    .objetivos{
        display: flex;
        flex-direction: column;
    }
}

.objetivo{
    width: 50%;
}

@media (max-width: 600px){
    .objetivo{
        width: 100%;
        padding-bottom: 10px;
    }
}

.objetivo .subtitulos{
    margin-top: 0;
}

.l_ordenada li{
    margin-bottom: 10px;
    font-size: 15px;
}

.l_ordenada{
    padding-top: 15px;
}


.lineas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* crea 2 columnas del mismo tamaño*/
    gap: 30px;
    flex-direction: column;
    justify-items: center;
    width: 100%;
}

/* Media Query para aplicar padding despues de 700px*/
@media (min-width: 700px) {
    .lineas {
        padding-left: 90px;
        padding-right: 90px;
    }
}

.linea1, .linea2, .linea3, .linea4{
    width: 80%;
    background-color: var(--blanco);
    padding: 20px;
    border-radius: 40px;
    font-weight: 500;
    box-shadow: var(--negro) 1px 1px 20px;
}

/*titulos de las lineas tecnológicas*/
.linea1 strong, .linea2 strong, .linea3 strong, .linea4 strong{
    color: var(--azul);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.linea1 p, .linea2 p, .linea3 p, .linea4 p{
    text-align: center;
    padding-top: 5px;
    margin: 0;
}

.contenido{
    padding: 0px 60px;
}

section .contenido_lineas{
    background: linear-gradient(0deg, var(--verde), var(--azul));
    margin: 0;
    width: 100%;
}

.contenido_lineas h3{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--blanco);
    padding: 30px;
    width: 100%;
    margin: 0;
    text-shadow: var(--negro) 1px 1px 10px;
}