*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans", sans-serif;
}

body{
    font-family: var(--fuente-principal);
    font-family: 1.2rem;
}

/*titulo sennova*/
.titulo{
    text-align: center;
    font-family: var(--fuente-principal);
}
/*subtitulos*/
 .subtitulos{
    font-family: var(--fuente-principal);
    text-align: center;
    margin-top: 50px;
}
/*contenido de el div senova*/
.sennova{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.sennova section{
    width: 100%;
    padding: 80px;

}
.sennova p{
    text-align: justify;
    margin-top: 50px;
    font-family: var(--fuente-principal);
    line-height: 30px;
}
/* .sennova img{
    width: 70%;
    height:90px;
    margin-top: 20px;
} */
article {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
    object-fit: cover;
}
