:root {
    --primary-color: #191919;
    --primary: #408CF9;
    --rojo:rgb(219, 38, 38);
    --white: #fff;
    --sidebar-primary-hover: #2B2B2F;
    --sidebar-background: #141318;
    --background: #F3F5F6;
    --text-link: #FFFFFF;
    --expand-button: #408CF9;
    --logout: #FA7575;
    --search-background: #2B2B2F;
    --verde: #39a900;
    --azul: #00234d;
    --negro: #070001;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: 'Work Sans', sans-serif;
  }

/* Estilos para el contenedor principal */
.table_div {
    width: 100%; /*Limita el ancho máximo */
    margin: 20px auto; 
    background-color: white; /* Fondo blanco para el contenedor */
    
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden ;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_div table{
    overflow: hidden ;
    overflow-x: auto;
    overflow-y: hidden;   
    background-color: #00234D;
}

.fila, .filar {
    padding: 12px; 
    border: 1px solid #ddd; /* Bordes claros */
}

.fila {
    background-color: #f2f2f2; /* Fondo para encabezados */
    text-align: left; /* Alineación a la izquierda */
    font-weight: bold; /* Texto en negrita */
}

.table_div td{
    text-align: center;
    /* border: 1px solid var(--negro)  */
    background-color: #FFFFFF;
    padding: 5px;
}

#tabla_titulos{
    background-color: #00234d;
    color: white;
    border-radius: 12px ;
}
thead{
    background-color: #00234d;
}


/* -------------------- button aceptar rechazar citas /// button asistencia ---------------------- */
/* Estilos para los botones */
.table_div .button {
    width: 80px;
    padding: 10px 15px; /* Espacio interno */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s ease; /* Efecto suave en hover */
    cursor: pointer; /* Cambia el cursor a puntero */
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/* ---------------------------------- */
.button.asistio{
    background-color: var(--verde);
}
.button.asistio:hover{
    font-weight: 500;
    color: #00234D;
    background-color: #45ad10;
}
/* -------------------------------- */

.button.ausente{
    background-color: var(--rojo);
}
.button.ausente:hover{
    font-weight: 500;
    color: var(--negro);
    background-color: rgb(216, 57, 57);
}
/* ------------------------------- */
.button.aceptar{
    background-color: var(--azul);
}
.button.aceptar:hover{
    font-weight: 500;
    color: var(--negro);
    background-color:  #07264b;
}
/* ---------------------------------- */

.button.rechazar{
    background-color: var(--rojo);
}
.button.rechazar:hover{
    font-weight: 500;
    color: var(--negro);
    background-color: rgb(216, 57, 57);
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para botones deshabilitados */
.button.disabled {
    opacity: 0.5; /* Opacidad reducida */
    pointer-events: none; /* Evita eventos de ratón */
}


/* ------------------- Ausente datos -------------------- */

.modal-content {
    background-color: #fefefe;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #888;
    width: 60%;
    height: auto;
    border-radius: 5px;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content form label{
    margin: 10px 0;
}

/* .modal-content form input:nth-child(1),
                    input:nth-child(2) {
                    text-align: center;
                    } */
                            
.modal-content form input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content form .button_ausente{
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content form button{
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: var(--azul);
    color: white;
    font-weight: 500;
}

.modal-content form button:hover{
    background-color: #102b4b;
}

@media screen and (max-width: 767px) {
    .modal-content {
        width: 80%;
    }
    /* .table_div{
        display: flex;
        width: 100%;
        height: 100%;
        overflow-x: auto;
    } */
     /* .table_div table{
        width: 80%;
        overflow-x: auto;
    }  */
}

/* ------------------ buscador botones ------------------------- */
.search-buttons {
    width: 100%;
    height: auto;
    margin: 10px;
}
.search-buttons ul a{
    font-family: var(--fuente-principal);
    background-color: var(--verde);
    padding: 8px;
    border-radius: 10px;
    margin: 5px 10px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-buttons ul a:hover{
    color: #00234D;
    padding: 9px;
}

.rechazadasContent, .AsistidasContent, .NoAsistidasContent, .confirmarAsistencia{
    width: 100%;
    height: auto;
}
.rechazadasContent, .AsistidasContent, .NoAsistidasContent, .confirmarAsistencia h1{
    margin: 20px;
    text-align: center;
}

.quick-direction-buttons{
    width: 100%;
    display: flex;
    justify-content: center;

}

.rechazadasContent .Regresar, .CitAsistidas, .CitANoAsistidas, .ConfirmarCitas, .CitasRechazadas, .citasPendientes, .CitasNoasistidas, .Citasasistidas{
    font-family: var(--fuente-principal);
    background-color: var(--verde);
    padding: 8px;
    border-radius: 10px;
    margin: 10px 10px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.rechazadasContent .Regresar:hover,.CitAsistidas:hover,.CitANoAsistidas:hover,.ConfirmarCitas:hover , .CitasRechazadas:hover, .citasPendientes:hover, .CitasNoasistidas:hover, .Citasasistidas:hover{
    color: #00234D;
    padding: 8.3px;
}
