/*Estilos de contenedor princial con el grid*/
.notifications-panel{
    display: grid;
    place-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill,minmax(225px, 1fr));
    width: 100%;
    min-height: 350px;
    padding: 10px 25px;
    gap: 32px;
}

/*Contenedor hijo con la información extradida de la Bd*/
.notifications{
    width: 255px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border: 2px solid #00324d;
    border-radius: 18px;
}

.notifications article{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 5px;
}

.notifications figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Imagen*/
.notifications figure img{
    width: 35px;
}

/*Estilos de los datos y titúlos dentro del artículo*/
.notifications article{
    display: flex;
    width: 100%;
    height: 100;
    flex-wrap: wrap;
    gap: 8px;
}

/*Estilos de las etiquetas B dentro del artículo*/
.notifications article b{
    font-size: 1rem;
}

/*Estilo especificos del motivo de las citas*/
.notifications article:last-child{
    min-height: 162px;
    height: 100%;
    overflow-x: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #dbdbdbfd;
    border-radius: 9px;
    padding: 5px;
    font-weight: lighter;
}

/*Barras verdes separadoras del contenido*/
.notifications span{
    align-self: center;
    width: 100%;
    height: 1px;
    border: 1px solid #39a900;
    /* opacity: .5; */
}

/*Texto*/
.notifications article p{
    font-weight: 300;
}

/*Clase para añadir en JavaScript cuando el estado de la cita sea aprobado*/
.estado_aceptado{
    color: #39a900;
    /* font-weight: 600;  */
}

/*Clase para añadir en JavaScript cuando el estado de la cita sea rechazado*/
.estado_rechazado{
    color: #ff1861;
    /* font-weight: 600; */
}

/*Clase para añadir en JavaScript cuando el estado de la cita sea pendiente*/
.estado_pendiente {
    color: #FFCE40;
    /* background-color: #3B3B3B; */
    /* font-weight: 600; */
}

.popup-justificacion {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    color:black; 
    height: 100px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    
    text-align: center;
}

/*Responsive*/

/*Laptops FHD*/
@media screen and (min-width:1024px){
    .notifications-panel{
        grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
        gap: 70px;
    }

    .notifications p{
        font-size: 1.2rem;
    }
}

/*2k Screens*/
@media screen and (min-width:1440px){
    .notifications{
    width: 265px;
    }

    .notifications p{
        font-size: 1.4rem;
    }

    .notifications article b{
        font-size: 1.4rem;
    }
}

/*4k Screens*/
@media screen and (min-width:2560px){
    .notifications-panel{
        grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
        gap: 120px;
    }

    .notifications{
        width: 350px;
    }

    .notifications p{
        font-size: 2rem;
    }

    .notifications figure img{
        width: 75px;
    }

    .notifications article b{
        font-size: 2rem;
    }
}