:root {
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans", sans-serif;
}

/* Estilos de contenedor principal */
.notifications-panel {
    flex-direction: column;
    justify-items: center;
    width: 95%;
    min-height: 350px;
    gap: 32px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
}

/* Contenedor de la tabla con overflow-x */
.table_container {
    width: 100%;
    overflow-x: auto;
    border: 2px solid var(--azul);
    border-radius: 15px;
    box-shadow: 1px 1px 7px var(--azul);
}

/* Estilos de la tabla */
table.appointment {
    margin: 0 auto;
    width: 100%;
    /* table-layout: fixed; */
    word-wrap: break-word;
    overflow-x: auto; /* Asegura que el contenido se maneje correctamente */
    border-collapse: collapse;
}

/* Estilos generales para las cabeceras de la tabla */
.appointment_th th {
    font-size: 1rem; /* Ajusta este valor según tus necesidades */
    padding: 10px;
}

.header_th{
    background-color: var(--azul);
    color: var(--blanco);
}

.appointment_th th, .appointment_td td, .reason th, .reason td {
    border: 4px solid var(--gris-oscuro);
    padding: 8px;
    width: auto; /* Cambiar de 100px a auto para flexibilidad */
    text-align: center;
}

.appointment_th th:nth-child(1) {
    border-top-left-radius: 15px;
}

.appointment_th th:nth-child(7) {
    border-top-right-radius: 15px;
}

.appointment_td {
    background-color: var(--gris-claro);
    color: var(--negro);
}

.reason th p {
    display: flex;
    font-weight: 400;
    background-color: var(--gris-oscuro);
    border-radius: 9px;
    margin-top: 5px;
    min-height: 12vh;
    justify-content: center;
    align-items: center;
}

/* Contenedor hijo con la información extraída de la BD */
.notifications {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border: 2px solid #00324d;
    border-radius: 18px;
    box-shadow: inset 1px 1px 7px var(--azul);
}

.notifications figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen */
.notifications figure img {
    width: 35px;
}

/* Barras verdes separadoras del contenido */
.notifications span {
    align-self: center;
    width: 100%;
    height: 1px;
    border: 1px solid #39a900;
}

/* Clase para añadir en JavaScript cuando el estado de la cita sea aprobado */
.estado_aceptado {
    color: #39a900;
}

/* Clase para añadir en JavaScript cuando el estado de la cita sea rechazado */
.estado_rechazado {
    color: #ff1861;
}

/* Clase para añadir en JavaScript cuando el estado de la cita sea pendiente */
.estado_pendiente {
    color: #FFCE40;
}

.popup-justificacion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    color: black;
    height: 100px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

/* Responsividad */

/* Laptops FHD */
@media screen and (min-width: 1024px) {
    .notifications-panel {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .notifications p {
        font-size: 1.2rem;
    }
}

/* 2k Screens */
@media screen and (min-width: 1440px) {
    .notifications {
        width: 100%;
    }

    .notifications p {
        font-size: 1.4rem;
    }
}

/* 4k Screens */
@media screen and (min-width: 2560px) {
    .notifications-panel {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 120px;
    }

    .notifications {
        width: 100%;
    }

    .notifications p {
        font-size: 2rem;
    }

    .notifications figure img {
        width: 75px;
    }
}

/* Responsividad para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .appointment_th th, .appointment_td td {
        font-size: 0.9rem;
        padding: 4px;
    }
}

@media screen and (max-width: 400px) {
    .appointment_th th, .appointment_td td {
        font-size: 0.8rem;
        padding: 2px;
    }
}

@media screen and (min-width: 768px) {
    .notifications-panel {
        max-width: 70vw;
    }
}