  /* .contenedor-popup{
    display: flex;
    width: 90%;
    overflow-x: auto;
}   */

.titulos{
    color: #00234d;
    font-weight: 600;
}
 .sin-responder {
     background-color: #00234d;
     margin: 10px;
     border-collapse: collapse;
     table-layout: fixed;
     border-radius: 10px;

  }

 .confirmado th {
     gap: 5rem;
     width: 20%;
     word-wrap: break-word;
     padding: 10px;
     text-align: center;
 }

  /*+++++++++++++++++++++++++++++++++++++++++++++++*/
  .respondidos {
      background-color: #00234d;
      margin: 10px;

  }

 /* .confirmado {
     width: 70vw;

 } */


  .encabezado {
      height: 5rem;
  }

  .encabezado2 {
      color: #FFFFFF;
      width: 1200px;

  }

 .respuestas {
     background-color: #FFFFFF;
     color: #000000;
     text-align: center;
 }
 .logo {
     width: 10%;
     display: block;
     margin-right: auto;
     margin-left: auto; 
     border-radius: 5px;
 }



  /* Selector */

  .formulario {
      text-align: center;
      width: 100%;
  }

 .formulario select {
     background-color: #00234d;
     color: #FFFFFF;
     font-size: .8rem;
     font-weight: bold;
     width: 50%;
     cursor: pointer;
}
/*Boton buscar por fecha */
.buscar{
    background-color: #39a900;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 2rem;
    padding: 0 20px 0 20px;
    cursor: pointer;
}
.buscar:hover{
    background-color: #00234d;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

  /* .formulario select option{
    background: #00234d;
    color: #FFFFFF;
    cursor: pointer;
    
 } */
 /*Boton ver historial y salir*/
.verHistorial, .salirHistorial{
    background-color: #39a900;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    cursor: pointer;
    margin: 10px;
    text-shadow: 0px 0px 20px black;
    box-shadow: 1px 1px 15px var(--azul);
    border: 1px solid var(--azul);
}

.verHistorial a{
    text-decoration: none;
    color: #FFFFFF;
}
.verHistorial:hover{
    background-color: #00234d;

}
.salirHistorial:hover{
    background-color: #00234d;
}
.salirHistorial a {
    text-decoration: none;
    color: #FFFFFF;
}
/*Aparatados de ver descripcion al responder y ver descripcion del historial*/
.contenedor_descripcion{
    border: 5px solid var(--azul);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 3);
    width: 60%;
    flex-direction: column;
}
.contenedor_descripcion h1{
    text-align: center;
}
.contenedor_descripcion p{
    text-align: center;
    margin-top: 1rem;
}
.contenedor_descripcion .button1{
    background-color: #39a900;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 10%;
    cursor: pointer;
    height: 25px;
}
.contenedor_descripcion .button1:hover{
    background-color: #00234d;
}

/*Respuestas*/
.contenedor_respuesta{
    border: 5px solid var(--azul);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 3);
    width: 60%;
    flex-direction: column;

}
.contenedor_respuesta h1{
    text-align: center;

}
.contenedor_respuesta textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 1.6rem;
}
.contenedor_respuesta .btnResponder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.6rem;
}
.contenedor_respuesta .button2{
    background-color: #00234D;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 15%;
    cursor: pointer;
    height: 25px;
    margin-top: 1rem;
}

.contenedor_respuesta .button2:hover{
    background-color: #39a900;
}
.contenedor_respuesta p{
    text-align: center;
    margin-top: 1rem;
}
/* botones de las casillas*/
.btn_pqr{
    background-color: #39a900;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    height: 5vh;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 5px;
}
.btn_pqr:hover{
    background-color: #00234D;
}

  /* RESPONSIVE */

  @media only screen and (max-width: 767px) {
      .contenedor-popup {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          overflow-x: auto;
      }

      .buscar {
          height: 3vh;
      }

      /* .formulario {
        text-align: center;
        width: 100%;

        z-index: 1000;
    }

    .formulario select {
        background-color: #bcbbbb;
        color: #000000;
        font-size: .8rem;
        font-weight: bold;
        width: 25%;
        
        

    } */
    .contenedor_descripcion{
        border: 5px solid var(--azul);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 3);
        width: 60%;
        flex-direction: column;
    }
    .contenedor_descripcion h1{
        font-size: 1.5rem;
    }
    .contenedor_descripcion .button1{
        background-color: #39a900;
        color: #FFFFFF;
        border-radius: 10px;
        border: none;
        width: 30%;
        cursor: pointer;
        height: 25px;
        margin-top: 2rem;
    }
    .contenedor_respuesta{
        border: 5px solid var(--azul);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 3);
        width: 60%;
        flex-direction: column;
    }
    .contenedor_respuesta h1{
        font-size: 1.5rem;
    }
    .contenedor_respuesta textarea{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: .7rem;
    }
    .contenedor_respuesta .button2{
        width: 40%;
    }
    .contenedor_respuesta .btnResponder{

        margin-left: .7rem;
    }
    .logo {
        display: none;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .contenedor-popup {
          display: flex;
          width: 80%;
          overflow-x: auto;
      }
      .sin-responder{
        margin-right: -19rem;
      }
  }


  /* @media only screen and (min-width: 1024px){
    .contenedor-popup{
        display: flex;
        width: 100%;
        height: 100%;
        overflow-x: auto;
    }
} */