/*Estilos para la tabla de responder*/
.sin-responder{
    background-color: #00234d;
    
}
th{
    gap: 5rem;
    width: 20%;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++*/
.respondidos{
    background-color: #00234d;
    width: 70vw;
     
}

.confirmado{
    width: 70vw;
}


.encabezado{
    height: 5rem;
}
.encabezado2{
    color: #FFFFFF;
    width: 1200px;

}
.respuestas{
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}
.logo{
    width: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.salir{
    margin-top: 2rem;
    background-color: #39a900;
    text-decoration: none;
    color: #000000;
}
/* RESPONSIVE */

@media only screen and (max-width: 767px){
    .confirmado{
        border-collapse: collapse;
        width: 20vh;
    }
    .respondidos{
        border-collapse: collapse;
        
         
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){

}
@media only screen and (min-width: 1024px){

}