/* ALERTA */

.alerta{
    display: grid;
    place-content: center;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    border: 3px solid var(--verde);
}
.imagen{
    display: flex;
    justify-content: center;
}
.mensaje{
    font-size: 1.2rem;
    color: var(--azul);
    margin: 1rem;
}

/* Ventana emergente para acciones con los servicios */
.fondoPopUp {
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpSeguro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 50%;
}

.afir, .nega{
    width: 100px;
    height: 50px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.button-servicio{
    background-color: #39a900;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 25px;
}
.solicitarCita{
    width: 30rem;
    height: 28rem;
}
.descripcion-servicio{
    height: 10rem;
    padding: 10px;
}
@media only screen and (max-width: 767px){
    .solicitarCita{
        width: 20rem;
    }
}