/* Ventana emergente para acciones con los servicios */
.fondoPopUp {
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpSeguro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 50%;
}

.afir, .nega{
    width: 100px;
    height: 50px;
}