body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

.users-table {
    margin: 0 auto;
    width: 65vw;
    overflow-x: auto; /* Agregar desplazamiento horizontal */
}

.users-table table {
    max-width: 100%;
    width: auto;
    border-collapse: collapse;
}

.users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.users-table th {
    background-color: #f2f2f2;
}

.users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.users-table tr:hover {
    background-color: #ddd;
}

.activo {
    color: green;
}

.inactivo {
    color: red;
}

@media only screen and (max-width: 600px) {

    /*Ajustar el tamaño del texto en las celdas para pantallas pequeñas*/
    .users-table th,
    .users-table td {
        font-size: 15px; /* Tamaño de fuente más pequeño */
        padding: 6px; /* Espaciado más pequeño entre celdas */
    }

    .search-container {
        margin-bottom: 0px;
    }
    
} 

@media only screen and (max-width: 768px) {
    /*ajustar el ancho de la tabala de acuerdo al contenedor main*/
    .users-table{
        width: 80vw;
    }
}