@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans", sans-serif;

}

body{
    font-family: var(--fuente-principal);
    font-family: 1.2rem;
}

#main-header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

 /* imagen logo de sendapp */
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    max-width: 150px;
    object-fit: cover;
}

i{
    color:var(--verde);
}

/* Navegador */
.navbar {
    background-color: #070001;
    opacity: 0.8;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%; /* Ocupar todo el ancho del contenedor nav */
    height: 100%; /* Ocupar todo el alto del contenedor nav */
}

.links li a{
    text-decoration: none;
    color: var(--negro);
    font-family: var(--fuente-poppins);
    font-size: 15px;
    /* color: var(--verde); */
    color: var(--blanco);
    padding: 0px 8px 0px 8px;
    
}

/* Menu hamburguesa 😛 */
.bars__menu{
    width: 30px;
    height: 30px; 
    cursor: pointer;
    display: none;
}

/* Barras del menu */
.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 6px;
    background-color: var(--verde);
    border-radius: 10px;
    transform-origin: 0px 100%;
    transition: ease-in 220ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) 
    translate(-2px, 1px);
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu{
    transform: rotate(-45deg)
    translate(-4px, 2px);
}


/* #menu-hamburguesa img{
    width: 3vw;
    height: 3vw;
}*/

/*
#menu-hamburguesa {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin: 20px;
}

/* Logo del sena en nav */
/* #img-logo{
    width: 4vw;
    height: 4vw;
    margin: 20px;       
} */ 


/* ----------------------------------------------------- */

/* Estilo para ocultar el contenido del menú desplegable por defecto */
.areas-mas,
.areas-bienestar {
    display: none;
}

/* Estilo para mostrar el menú desplegable al hacer hover sobre "Areas" */
.links li:hover .areas-mas {
    display: block;
    position: absolute;
    background-color: var(--negro);
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    border-radius: 15px;
    border: 1px solid var(--verde);
}

/* Estilo para mostrar el menú desplegable al hacer hover sobre "Bienestar al aprendiz" */
.areas-mas li:hover .areas-bienestar {
    display: block;
    background-color: var(--negro);
    list-style: none;
    padding: 0;
    margin-left: 210px; /* Ajusta este valor según tu diseño */
    margin-top: -15px; /* Ajusta este valor según tu diseño */
    color: #f7f7f7;
    width: auto;
    border-radius: 5px;
    border: 1px solid var(--verde);
}

/* Estilos para los elementos de los menús desplegables */
.areas-mas a,
.areas-bienestar a {
    display: block;
    text-decoration: none;
    color: var(--negro);
}

/* Estilos para los elementos de los menús desplegables al pasar el ratón por encima */
.areas-mas a:hover,
.areas-bienestar a:hover {
    color: var(--verde);
}

/* Estilos para el menú "Áreas" */
.areas-mas {
    /* display: none; */
    position: absolute;
    background-color: var(--verde);
    list-style: none;
    padding: 0;
    margin: 0;
}

.areas-mas li{
    display: flex;
    flex-wrap:wrap ;
    padding: 7px 8px 7px 8px;
}

/* Estilos para el menú "Bienestar al aprendiz" */
.areas-bienestar {
    /* display: none; */
    position: absolute;
    background-color: var(--verde);
    list-style: none;
    padding: 0;
    margin: 0;
}

.areas-bienestar li{
    width: 180px;
}

/*titulo sennova*/
.titulo{
    font-size: 35px;
    text-align: center;
    font-family: var(--fuente-open-sans);
}
/*subtitulos*/
.subtitulos{
    font-size: 25px;
    font-family: var(--fuente-open-sans);
    text-align: left;
    margin-top: 50px;
}
/*contenido de el div tecnoparque*/
.tecnoparque{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.tecnoparque section{
    width: 100%;
    padding: 0px 60px;

}

/* listas ordenadas y desordenadas */
ol, ul{
    padding: 30px;
}

.tecnoparque p{
    text-align: justify;
    margin-top: 10px;
    font-family: var(--fuente-poppins);
    line-height: 30px;
}
.tecnoparque img{
    width: 40%;
}

.logo_tecnoparque{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.foto1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;   
}

.foto1 img{
    box-shadow: #070001 1px 1px 15px; 
    border-radius: 10px;
    filter: brightness(90%);
}

.foto1 :hover{
    filter: brightness(100%);
}