:root{
    --clr-main: #4b33a8;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --fuente-principal: 'Work Sans', sans-serif;
    --verde: #39a900;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper h1,h2,h3,h4,h5,h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: "Work Sans", sans-serif;
}

ul{
    list-style-type: none;
}

li {
    list-style: none;
}


.navbar a{
    text-decoration: none;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #00234D;
    height: auto;
    /* min-width: 100vw; agregué esta linea */
    min-height: 100vh;
  
}
aside{
    height: 100vh;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    padding-top: 4rem;
    padding-left: 2em;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 1rem
}

.foto-perfil {
    position: relative; 
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
}

.logo {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.bi.bi-camera-fill {
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
    font-size: 20px; 
    color: var(--verde); 
    display: flex;
    margin-right: 2.1rem;
    
}
.nombre{
    display: flex;
    justify-content: center;
    padding: 1.75rem;
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: column;
}

.boton-categoria{
    font-family: "Work Sans", sans-serif;
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* font-weight: 600; */
    padding: 1.2rem;
    font-size: .85rem;
    width: 100%;
}

.bi{
    font-size: 1.5rem;
    color:var(--verde);
}

.boton-categoria.active {
    background-color: white !important;
    color: #00234D;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    
}



.texto-footer{
    color: var(--verde);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;

}

.texto-footer:hover{
    background-color: var(--clr-white);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 1rem 1rem 1rem 0px;
    border-radius: 2rem;
    overflow: hidden;
}

/*Logo De Arriba*/
.senappd__top-logo, .sena__bottom--logo{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.senappd__top-logo img{
    margin: 1.2rem 2.5rem;
    max-width: 175px;
    object-fit: contain;
}

.sena__bottom--logo img{
    max-width: 100px;
}

/*Sección con texto introdutorio*/
.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1.5rem;
}

.introduction p{
    line-height: 130%;
}
.introduction h1{
    font-size: 1.3rem;
}

.titulo-principal{
    color:var(--verde);
}

.header-mobile{
    display: none;
}

.close-menu{
    display: none;
}

.oculto {
    display: none !important;
}

/*nombre del rol */
#verRolo{
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 945px){
    aside {
        padding-top: 4.5rem;
    }
}


@media only screen and (max-width: 768px) {
    main{
        padding: 1.5rem 0rem 3rem;
        margin: 5%;
    }
}

@media only screen and (max-width: 510px){
    #verRolo h1{
        display: none;
    }
}