
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans", sans-serif;
}

body{
    font-family: var(--fuente-principal);
    font-family: 1.2rem;
}

/*Contenido*/
.orden{
    margin: 4rem;
}
 .Primera_Impresion{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
} 

.contn {
    margin: 1rem;
    flex:60%;
    padding-right: 20px; 
    text-align: left;
}
.contn, .imagen{
    opacity: 0;
    animation: aparecerDesdeAbajo 1s ease forwards;
}
@keyframes aparecerDesdeAbajo {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.imagen{
    flex: 35%;
    text-align: center; 
    padding: 20px;

}
.imagen img{
    margin-top: 9rem;
    max-width: 134%;
    height: auto;
}

.Contenido{
    width: 100%;
    padding: 70px;
    background:linear-gradient(#ededed,#fff); 
    
}
/*titulo */
.titulo{
    font-size: 6rem;
    text-align:left;
    font-family: var(--fuente-principal);
    animation: fadeIn 3s forwards;
    color: var(--azul);
}
/*subtitulos*/
.subtitulos{
    font-family: var(--fuente-principal);
    text-align: left;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.sub{
    font-family: var(--fuente-principal);
    text-align: center;
    font-size: 3rem;
    margin: 2rem 4rem 2rem 4rem;
}
.parrafo{
    font-size: 25px;
}
.p{
    font-size: 25px;
    text-align: center;
}
hr{
    margin: 2rem 0 10px 0;
}
.Contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background:linear-gradient(#cfcfcf,#ededed); 
}
.tarjetas-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0 3rem 0;
    gap: 4rem;
}
.tarjeta {  
    width: 40rem;      
    background-color: #f0f0f0;
    transition: transform 0.3s ease;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden; 
    box-shadow: 0 6px 11px rgba(7, 7, 7, 0.4);

}
.tarjeta:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(12, 12, 12, 0.5);
}

@media only screen and (max-width: 767px){
    .titulo{
        font-size: 2rem;
        text-align: center;
        font-family: var(--fuente-principal);
        color: var(--azul);

    }
    .Contenido{
        padding: 30px;
    }
    .orden{
        margin: 2rem;
    }
    .tarjeta{
        width: 87%; 
        max-width: 30rem;
    }
    .subtitulos,.sub{
        font-size: 1.3rem;
    }
    
    .parrafo,.p{
        font-size: 1rem;
    }
}