:root{
    --clr-main: #4b33a8;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --fuente-principal: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Work Sans", sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* height: 100vh; */
    background-color: #00234D;
}
aside{
    padding: 2rem;
    color: white;
    position: sticky;
    top : 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* overflow-y: auto; */

}

.perfil {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 1rem
}

.foto-perfil {
    position: relative; 
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.bx.bxs-camera {
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
    font-size: 20px; 
    color: #39a900; 
    display: flex;
    margin-right: 2.1rem;
    
}
.nombre{
    display: flex;
    justify-content: center;
    padding: 1.75rem;
    text-align: center;
}


.menu{
    display: flex;
    flex-direction: column;
}
.boton-categoria{
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1.2rem;
    font-size: .85rem;
    width: 100%;

}
.bx{
    font-size: 2rem;
    color:#39a900;
}
.boton-menu.active{
    background-color: white;
    color: #00234D;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    
}
.boton-menu.active:before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 white;
    
}
.boton-menu.active::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 white;
    
}

.texto-footer{
    color: #39a900;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    padding: 1.5rem;

}

.texto-footer:hover{
    background-color: var(--clr-white);
}
main{
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    /* padding: 3rem; */
    /* overflow-y: auto; */
}
.titulo-principal{
    color:#39a900;
}
.header-mobile{
    display: none;
}
.close-menu{
    display: none;
}

/* Contenido */
.div__content{
    width: 100%; 
    padding: 1rem;
    padding-top: 2.1rem;
}

.div__content section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    width: 100%;
}

section article{
    display: flex;
    justify-content: center;
    align-content: center; 
    width: 100%;
}

section article img{
    width: 9.375rem;
}

section p{
    padding: 1rem;
    text-align: justify;
}

.cards__container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-template-rows: 1fr;
    align-items: center; /*Alineación de los items de manera horizontal*/
    justify-items: center; /*Alineación de los items de manera vertical*/
    /* align-content: center; */
    /* border: 1px solid red; */
    gap: 1.125rem;
}

.cards{
    width: 7.5rem;
    border: 1.5px solid #000000;
    background-color: #00234D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.75rem;
    height: 7.5rem;
    border-radius: 50%;
    text-align: center;
    z-index: 10;
    font-size: 14.1px;

}

.cards article p {
  opacity: 1; /* Por defecto visible */
  transition: opacity 0.3s ease; /* Efecto de transición */
}

.cards:hover article p {
  color:#39a900; /* Al hacer hover, desaparece el párrafo */
}

.cards article{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards article p{
  text-align: center;
  color: white;
}

.cards article img{
    width: 3.75rem;
    position: absolute;
    z-index: -100;
    opacity: 1; /* Por defecto visible */
}

/*media query*/
@media screen and (max-width: 850px){
    .contenedor-productos{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .perfil{
        margin-left: 1.75rem;
    }
}
@media screen and (max-width: 675px){
    .contenedor-productos{
        grid-template-columns: 1fr 1fr ;
    }
    .perfil{
        margin-left: 1.75rem;
    }
}
@media screen and (max-width: 600px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    aside{
        position: fixed;
        z-index: 9;
        background-color: #00234D;
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75) ;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        
    }
    .aside-visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
    .boton-menu.active::before,
    .boton-menu.active::after{
        display: none;
    }
    main{
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }
    .contenedor-productos{
        grid-template-columns: 1fr;
    }
    .header-mobile{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: #00234D;
        border-bottom: 1px black
    };
    }
    .header-mobile .logo{
        color: #39a900;
    }
    .open-menu, .close-menu {
        background-color: transparent;
        color: white;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }
    .close-menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;

    }
    .perfil{
        margin-left: 1.75rem;
    }
    .cards{
        z-index: inherit;
    }
@media screen and (max-width: 400px){
    .contenedor-productos{
        grid-template-columns: 1fr ;
    }
    .perfil{
        margin-left: 1.75rem;
    }
}