*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans", sans-serif;
}

body{
    font-family: var(--fuente-principal);
    font-family: 1.2rem;
}

/*titulo sennova*/
.titulo{
    font-size: 4rem;
    text-align: center;
    font-family: var(--fuente-principal);
    color: var(--azul);
}
/*subtitulos*/
 .subtitulos{
    font-size: 25px;
    font-family: var(--fuente-principal);
    text-align: left;
    margin-top: 30px;
}
/*contenido de el div senova*/
.corporativas{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.corporativas section{
    width: 100%;
    padding: 60px;

}
.corporativas p{
    text-align: justify;
    margin-top: 10px;
    font-family: var(--fuente-principal);
    line-height: 30px;
}
/* .sennova img{
    width: 70%;
    height:90px;
    margin-top: 20px;
} */
article {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
    object-fit: cover;
}

.l_ordenada{
    padding: 15px 30px 15px 30px;
}
.l_ordenada li{
    margin-bottom: 10px;
    font-size: 15px;
}
/*******************************botones**********************************/
/*Boton agendar cita*/
.button{
    position: relative;
    padding: 10px 22px;
    background-color: #39a900;
    border-radius: 6px;
    color: var(--gris-claro);
    border: none;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--fuente-principal);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.button:hover{
    background-color: #070001;
}
.button:active{
    transform: scale(0.96);
}
.button::before,
.button::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    z-index: -1;
    background-repeat: no-repeat;
}
.button.animate::before{
    top: -70%;
    background-image: radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #000000 20%, transparent 30%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #000000 15%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%);
    background-size: 10%  10%, 20% 20%, 15% 15%,  20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25%  90%, 25% 90%, 40% 90%, 55% 90%, 
    70% 90%;
    animation: topBubbles 0.6s ease-in-out forwards;
}
@keyframes topBubbles {
    50%{
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%,
        22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100%{
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%,;
    }
}
.button.animate::after{
    bottom: -70%;
    background-image:  radial-gradient(circle, #29a900 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #39a900 15%, transparent 20%),
    radial-gradient(circle, #29a900 20%, transparent 20%),
    radial-gradient(circle, #29a900 20%, transparent 20%),
    radial-gradient(circle, #29a900 20%, transparent 20%),
    radial-gradient(circle, #29a900 20%, transparent 20%),
    radial-gradient(circle, #29a900 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 10%  0%, 30% 10%, 55% 0%, 70% 0%, 85% 0%, 70% 0%, 70% 0%;
    animation: bottomBubbles 0.6s ease-in-out forwards;

}
@keyframes bottomBubbles {
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%,
        95% 60%, 105% 0%;
    }
    100%{
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%,;
    }
}