/*titulo sennova*/
.titulo{
    font-size: 35px;
    text-align: center;
    font-family: var(--fuente-open-sans);
}
/*subtitulos*/
 .subtitulos{
    font-size: 25px;
    font-family: var(--fuente-open-sans);
    text-align: left;
    margin-top: 50px;
}
/*contenido de el div senova*/
.tecnoacademia{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.tecnoacademia section{
    width: 100%;
    padding: 60px;

}
.tecnoacademia p{
    text-align: justify;
    margin-top: 10px;
    font-family: var(--fuente-poppins);
    line-height: 30px;
}
/* .tecnoacademia img{
    width: 70%;
    height:90px;
    margin-top: 20px;
} */
article {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
    object-fit: cover;
}

.foto1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;   
}

.foto1 img{
    box-shadow: #070001 1px 1px 15px; 
    border-radius: 10px;
    filter: brightness(90%);
    height: 20rem;
}

.foto1 :hover{
    filter: brightness(100%);
}