*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #070001;
    --azul: #00324D;
    --azul-claro: #82DEF0;
    --gris-oscuro: #cfcfcf;
    --gris-claro: #ededed;
    --fuente-principal: "Work Sans", sans-serif;
}

body{
    font-family: var(--fuente-principal);
    font-family: 1.2rem;
}

/*titulo sennova*/
.titulo{
    font-size: 4rem;
    text-align: center;
    font-family: var(--fuente-principal);
    color: var(--azul);
}
/*subtitulos*/
 .subtitulos{
    font-size: 25px;
    font-family: var(--fuente-principal);
    text-align: left;
    margin-top: 30px;
}
/*contenido de el div tecnoacademia*/
.tecnoacademia{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.tecnoacademia section{
    width: 100%;
    padding: 60px;

}

.l_desordenada, .l_ordenada{
    padding: 15px 30px 15px 30px;
}

.l_ordenada li, .l_desordenada li{
    margin-bottom: 10px;
    font-size: 15px;
}

.tecnoacademia p{
    text-align: justify;
    margin-top: 10px;
    font-family: var(--fuente-principal);
    line-height: 30px;
}
/* .tecnoacademia img{
    width: 70%;
    height:90px;
    margin-top: 20px;
} */
article {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
    object-fit: cover;
}

.foto1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;   
}

.foto1 img{
    box-shadow: #070001 1px 1px 15px; 
    border-radius: 10px;
    filter: brightness(90%);
    height: 20rem;
}

.foto1 :hover{
    filter: brightness(100%);
}
.beneficios_lineas{
    display: flex;
    justify-content: space-around;
}

.ben_lin1, .ben_lin2{
    width: 50%;
}

.ben_lin1{
    padding-right: 5%;
}

.ben_lin2{
    padding-left: 5%;
}